@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SSRS.Web.Areas.Admin.Models.LoginViewModel

@section Styles {
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            background-color: #f4f6f9;
        }

        .login-card {
            background-color: #1e1e1e;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
            width: 350px;
            color: #fff;
        }

        .form-control {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0.5rem;
            background-color: white;
            border: 1px solid #444;
            color: blue;
        }

        .form-control:focus {
            border-color: #007bff;
            background-color: #f0f8ff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            color: blue;
        }


        .btn-primary {
            width: 100%;
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        label {
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
        }

        h2 {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .text-center {
            text-align: center;
        }

        .mt-3 {
            margin-top: 1rem;
        }

    </style>
}

<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" id="Username" name="Username" class="form-control" placeholder="Enter username" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter password" required />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="text-center mt-3">
            <a href="/Admin/Account/Register" style="color: #007bff;">Don't have an account? Register</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminlite/customejs/accountjs.js"></script>
             
}
